*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 24px;
  font-size: 14px;
  color: #fff;
  background-color: #000000;
  background-image: url("../img/bgrd.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

img {
  max-width: 100%;
  height:auto;
} 
a {
  text-decoration: none;
}
fieldset{
  margin:0;
  padding:0;
  border:none;
  
}

@keyframes bounce{
  0%{transform: translateY(-2000px);}
  70%{transform: translateY(30px);}
  90%{transform: translateY(-10px);}
  100%{transform: translateY(0);}
}
@keyframes shake{
  0% ,100% {transform: translateX(0);}
  10%, 30%, 50%, 70% ,90% {transform: translateX(-20px);}
  20%, 40%, 60% ,80% {transform: translateX(20px);}
}
.btn{
  display: inline-block;
  padding:10px 35px;
  margin-right: 16px;
  font: inherit;
  color:#fff;
  background-color: #000000;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.navigation-menu-items .btn-active{
  background-color: #fff;
  color:#000;
  border:1px solid #000;
}

.btn:hover,
.btn:focus,
.btn:active{
background-color: #663d15;
}

.btn.disabled,
.btn:disabled{
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}
.btn-navigation-items{
padding:0;
width: 43px;
height:43px
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow:hidden;
}


.container{
  width: 940px;
  /* padding: 0 10px; */
  margin: 0 auto;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
   font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 80px;
}

.main-header-logo{
display: flex;
}
.main-navigation-wrapper{
   margin-bottom: 60px; 
  width:100% ;
  background-color: #000000;
}
.main-navigation-wrapper.wrapper-item,
.main-navigation.wrapper-item{
  margin: 0;
}

.main-navigation-wrapper .container{
  display: flex;
  justify-content: space-between;
}
.navigation-shop-item:not(:last-child):hover,
.navigation-shop-item:focus,
.navigation-shop-item:active{
  text-decoration: underline;
  text-decoration-thickness:2px;
}
.site-navigation,
.user-navigation {
  list-style: none;
  margin:0;
  padding: 0;
 
  }
.site-navigation{
  display: flex;
  flex-wrap: wrap;
  min-width:620px;
 
}
.site-navigation .active{ position: relative;}
.site-navigation .active::after{
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 4px;
  background-color: #fff;
}

.user-navigation{
  display: flex;
  max-width: 140px;
}

.user-navigation .login-link{
  position: relative;
  padding-left: 50px;
}
.user-navigation .login-link::before{
  content:'';
  position: absolute;
  background:url('../img/login.svg') no-repeat 0 0;
  width: 16px;
  height: 18px;
  left:24px;
  top:27px;
   opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before{
  opacity: 1;
}


.site-navigation a,
.user-navigation a {
  color: #fff;
  display: block;
  vertical-align: middle;
  padding: 25px 20px;
}

.site-navigation a:focus,
.user-navigation a:focus,
.site-navigation a:hover,
.user-navigation a:hover {
  background-color: #242424;
}
.features{
  margin-bottom: 80px;
}
.feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.feature-item {
  text-align: center;
  width: 300px;
}
.feature-item h3 {
  margin:0;
  margin-bottom: 60px;
  position: relative;
  font-size: 30px;
  line-height: 42px;
}

.feature-item h3::after{
  content:"";
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left:-10px;
  bottom:-30px;
  left:50%;
  background-color:#fff;
  transform: rotate(45deg);
}

.feature-item p{
  margin: 0 10px;
}

.index-columns{
  color:#000000;
  background-color: #f8f5f2;
  
  background-image: url("../img/palka.png"),
                    url("../img/pattern.jpg");
  background-position:center,0 0;
  background-repeat: no-repeat , repeat;
  display: flex;
  padding: 50px 80px;
  justify-content: space-between;
  margin-bottom: 35px;
}

.news{
  width: 380px;
  
}
.gallery{
  width: 300px;
 }
.index-columns h2{
  margin:0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}
.news-list{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}
.news-item p{
  margin-bottom: 0;
}
.news-list time{
  text-transform: none;

}
.gallery-container{
  height: 260px;
  position: relative;
 
}
.btn-gallery{
  box-sizing: border-box;
  margin:0;
  width:140px;
  position: absolute;
  bottom:0;
   
}

.btn-gallery-back{
  left:0;
}
.btn-gallery-next{
  right:0;
}

.gallery-content{
  height: 164px;
  margin:0;
  background-color:#ccc;
  border: 7px solid #fff; 
}


.gallery-content img{
  width: 286px;
  height: 164px;
}

.slide {
  position: relative;
display: block;
white-space: nowrap; 
overflow: hidden;
z-index: 1;
left: 0;
right: 0; }

.slide-single{
transform: translateX(0px);
opacity: 1;
transition: transform 500ms ease 0s;

}

.slide-single-2{
  margin-left:6px;
  transform: translateX(-300px);
  opacity: 1;
  transition: transform 500ms ease 0s;
  object-fit: cover;
}




.contacts{
  width:380px;
}

.contacts p{
  margin:0;
  margin-bottom: 25px;
}
.appointment{
  width: 300px;;
}
.appointment-info{
    margin:0;
  margin-bottom:15px;
}
.appointment-item input{
  font:inherit;
  background-color: transparent;
  border: 2px solid #000000;
  width:140px;
  padding: 8px 15px 7px;
}

.appointment-item input:focus{
  border-color:#663d15;}

 .appointment-item{
width: 140px;
margin:0;
margin-bottom:18px;
 }
.btn-submit{
  display: block;
  width: 100%;
  margin:0;
}
.appointment-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.appointment-item label{
  display: block;
  margin-bottom:9px;
  margin-left:15px;
}

.main-footer{
  color:#ffffff;
  background-color: #212121;
  background-image: url("..//img/pattern-footer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  padding: 60px 0;
}
.main-footer .container{
  display: flex;
  
}
.footer-contacts{
  width: 320px;
  margin: 0;
  margin-right: 80px;
}
.footer-contacts a{
color:#ffffff;
text-decoration: underline;

}

.footer-contacts a:hover,
.footer-contacts a:focus{
  text-decoration: none;
}

.footer-social{
  text-align: center;
  width: 145px;
}

.footer-social b{
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-social ul{
  list-style: none;
  margin:0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 141px;
}

.social-btn{
  display:flex;
align-items: center;
justify-content:center;
  width: 43px;
  height: 43px;
  background-color:#000000;
  margin-bottom: 10px;
}

.social-btn:hover,
.social-btn:focus{
background-color: #fff;
}
.social-btn:hover path,
.social-btn:focus path{
  fill: #000000;
}

.footer-copyright{
  text-align: center;
  width: 150px;
  margin: 0;
  margin-left: auto;
}
.footer-copyright b{
  display: block;
  margin-bottom: 15px;
}
.footer-copyright .btn{
  display: block;
  margin-right:0;
  padding: 10px 25px
}

.footer-copyright .btn:hover,
.footer-copyright .btn:focus{
  color:#000000;
  background-color: #fff;
}

.modal{
  box-sizing: content-box;
  position: fixed;
  width: 300px;
  color:#000000;
  background-color:#f8f3f0;  
  background-image: url('../img/pattern.jpg');
  background-repeat: repeat;
  background-position: 0 0;
  box-shadow:0 30px 50px rgb(0,0,0,0.7);

}


.modal-login{
  display: none;
padding:50px 80px;
  left:50%;
  top:120px;
  margin-left:-230px;
}
.modal-login h2{
  margin:0;
  margin-bottom: 20px;
}
.moadl-description{
  margin:0;
  margin-bottom: 10px;
}
.login-form p{
  margin:0;
  margin-bottom: 10px;;
}

.login-form input[type='text'],
.login-form input[type='password']{
  width:100%;
  padding:10px 15px;
  padding-right:40px;
  font:inherit;
  color:#000;
  text-transform: inherit;
border:2px solid #000;
  background-color: #f9f6f3
}

.login-form input:hover,
.login-form input:focus,
.login-form input:active{
  border-color:#663d15;
}

.login-form .login-help{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:15px 0;

}

.login-icon-user{
background-image: url('/img/user.svg');
background-repeat: no-repeat;
background-position: 270px center;
}
.login-icon-password{
  background-image: url('/img/lock.svg');
  background-repeat: no-repeat;
  background-position: 270px center;
  }
.modal-close{
  position: absolute;
  top:0;
  right:-34px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border:0;
  cursor: pointer;
}
.modal-map{
  display: none;
  position: fixed;
  top:50%;
  width:766px;
  height:561px;
  top:50%;
  margin-top:-280px;
  left:50%;
  margin-left:-390px;
  border:7px solid #fff;
}
.modal-close::before,
.modal-close::after{
  content:"";
  height:3px;
  width: 19px; 
  position: absolute;
  top:10px;
  left:2px;
background-color:#d0d0d0;}

.modal-close::before{
  transform:rotate(45deg);
}
.modal-close::after{
  transform:rotate(-45deg);
}
.modal h2{
  font-size: 30px;
  line-height: 42px;
}

.modal-show{
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}
.modal-error{
  animation: shake 0.6s;
}

.login-form input[type="text"],
.login-form input[type="password"]{
  font:inherit;
  color:#000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus{
  border-color: #663d15;
}

.group-items{
  margin-bottom: 50px;
}
.group-items label{
  position: relative;

}
.group-items label::before{
content:"";
position: absolute;
width:20px;
height: 20px;
border-radius: 50%;
top:-1px;
left:-43px;
border: 2px solid #000000;
}
.group-items .group-items-disable:checked + label::after{
  content:"";
  position: absolute;
  width:8px;
  height:8px;
  border-radius: 50%;
  top:5px;
  left:-37px;
  background-color:#000000;
  }


.group-items ul{
  padding:0;
  margin:0;
  list-style: none;
  width: 165px;
  margin-left:44px

  }
.group-items legend{
  margin-bottom: 30px;;
}
.group-items li{
  margin-bottom: 15px;
}

.login-checkbox{
  position: relative;
  cursor: pointer;
  padding-left: 30px;
}
.login-checkbox:hover,
.login-checkbox:focus{
  color:#663d15;
}

.login-checkbox input[type='checkbox'] + .checkbox-indicator{
 box-sizing: content-box;
position: absolute;
border:2px solid #000;  
width: 17px;
height: 17px;
top:0px;
left:0px;
}

.login-checkbox input[type='checkbox']:focus + .checkbox-indicator{
border-color:#663d15;
outline:thin dotted;
outline:5px auto;
  }

.login-checkbox input[type='checkbox']:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
content:"";
height:2px;
width:15px;
top:8px;
left:1px;
position: absolute;
background-color: #000;
}
.login-checkbox input[type='checkbox']:checked + .checkbox-indicator::before
{
  transform:rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
transform:rotate(-45deg);
}
.login-checkbox:hover,
.login-checkbox:focus,
.shop-producer label:hover,
.group-items label:hover,
.shop-producer input[type="checkbox"]:focus,
.group-items input[type="checkbox"]:focus {
  color: #663d15;
}
.login-form .btn{
  width: 100%;
  margin-right: 0;
}

.restore{
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus{
  text-decoration: none;}

  
/*  item.html */
.container-item{
  background-color: #f8f5f2;
  background-image: url('../img/pattern.jpg');
  background-position: 0 0;
  background-repeat: repeat;
  color:#000000;
  font-size: 14px;
  line-height: 24px;
  padding-top:55px;
 

}
.navigation{
list-style-type: none;
font-size: 14px;
margin-bottom: 58px;
}
.container.container-wrapper-navigation h1{
  font-size: 30px;
  line-height: 42px;
  margin: 0;
}
.navigation a{
    font-weight: 700;
    color: #000000;
  }
.navigation-shop{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.price-list-navigation {
justify-content:flex-start;
}
.navigation-shop li{
  margin-right: 44px;
}
.navigation-shop-item{position: relative;}
.navigation-shop-item:not(:last-child)::after{
  content:'';
  position: absolute;
  width: 8px;
  height: 8px;
  transform:rotate(45deg);
  background-color: #000000;
  top:50%;
  margin-top:-4px;
  right:-24px
}
.navigation-shop-item:last-child a,
.description-article{
  color: #aeaeae;
}
.item-cards{
  display: flex;
  flex-direction: column;
  width: 460px;
}
.item-cards img{
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}
.item-cards-main{
  margin-bottom: 20px;
}
.item-cards-wrapper{
  display: flex;
  justify-content: space-between;
}
.item-cards-wrapper img{
  overflow: hidden;
}
.section-2{
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.description{
 width:379px;
}
.description-price{
  background-color: #e5e5e5;
  width:110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description-availability{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
.description-items{
  list-style: none;
  margin:0;
  padding:0;
  margin-left: 15px;
}
.description-items li{
  position: relative;
}

.description-items li::before{
  content:"";
  width: 8px;
  height: 8px;
  background-color: #000;
  position: absolute;
  transform:rotate(45deg);
  top:7px;
  left:-21px;
}
.description-h2{
  font-size: 24px;
  line-height: 30px; 
  text-align: left;
  color: #000000;
  margin:0;
  margin-bottom: 32px;
  }
  .description p{
    margin-bottom: 40px;
  }
  .description-availability-price{
    display:flex;
    margin-bottom: 65px;
  }
.main-footer .container{
  padding: 0 10px;
}
  .main-footer.item-footer{
    margin: 0;
  }
/* shop.html */

.container-shop-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.shop-producer-disable,
.group-items-disable{
  display:none;
}
.shop-producer-select {
  width: 220px; 
}
.shop-producer{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
margin-bottom: 50px;
}
.shop-producer input[type="checkbox"]{
  margin-right: 23px;
}
.shop-producer ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 253px;
  list-style: none;
margin: 0;
padding:0 ;
margin-left: 44px;
}
.shop-producer label{
  display:inline-block  ;
width:165px;
position: relative;
}

.shop-producer label::before{
  content:"";
  position: absolute;
  width: 20px;
  height:20px;
  top:-1px;
  left:-43px;
  border:2px solid #000;
}

.shop-producer .shop-producer-disable:checked + label::after{
  content:"";
  position:absolute;
  width:11px;
  height: 11px;
  background: url("../img/cross.svg") no-repeat 0 0;
  top:3px;
  left:-39px;
}
.shop-producer li{
  line-height: 18px;
}
.shop-producer legend{
  margin: 0;
  margin-bottom: 20px;
}
.shop-producer legend,
.group-items legend{
  font-size: 24px;
  line-height: 30px;
}

.item-shop-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 700px;
  margin-bottom: 45px;
  }

.item-shop-list-1{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 220px;
  min-height: 286px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item-shop-list-1 p{
  height:28px; 
  font-size: 14px;
  line-height: 18px;
  padding-left: 15px;
  display: inline-block;
}

.item-shop-list-1:first-child p{
width: 190px;
}
.item-shop-list-1:nth-child(3) p{
  width: 110px;
  }

  .item-shop-list-1:nth-child(4) p{
    width: 190px;
    }
    .item-shop-list-1:nth-child(5) p{
      width: 150px;
      }
      .item-shop-list-1:nth-child(6) p{
        width: 150px;
        }

.btn-price{
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; 


}
.btn-price_1{
  width: 78px;
  padding-left: 0;
padding-right: 0;
}
.btn-map-open{
  display: block;
}

  .item-shop-list a{
  color: #000000;
    }
.navigation-menu-items{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-bottom:49px;
}

/* price.html */
.article-price-main{
  font-size: 30px;
  line-height: 42px;
}

.container.container.container-wrapper-navigation h1{
  margin-bottom: 15px;
}
/* построение сетки */



.inner-content{
  padding-bottom: 20px;
}
.inner-content h2{
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
}

.inner-content h3{
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
}

.inner-content p{
  margin:14px 0;
}

.inner-content h2+h3{
  margin-top: 30px;
}
.inner-content table{
  border-collapse: collapse;
}
.inner-content td{
  padding: 10px 15px;
  border: 2px solid #000;
}
.inner-content .big-heading{
  display: flex;
  align-items: center;
  margin-top: 55px;
  margin-bottom: 65px;
  font-size: 48px;
  line-height: 1;
  text-align: center;
}

.inner-content .big-heading::after,
.inner-content .big-heading::before{
content:'';
width: 50px;
height: 2px;
background: #000;
flex-grow: 1;
flex-shrink: 0;
}

.inner-content .big-heading::before{
margin-right: 25px;}

.inner-content .big-heading::after{
  margin-left: 25px;}

  .custom-list-1{
   margin: 14px 0;
padding:0;
    list-style: none;
  }
  .custom-list-1 li{
    padding-left: 20px;
position: relative;
margin-bottom: 15px;
  }

  .custom-list-1 li::before{
    content:'';
  position: absolute;
  top:8px;
  left: 0;
  width: 8px;
height: 8px;
background-color:#000;
transform: rotate(45deg);
}
.custom-table-1{
  width:100%
}
.custom-table-1 td{
  width:50%;
}
.custom-table-1 td:last-child{
  text-align: center;
}

.inner-columns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:60px 0;
}
.inner-column-right,
.inner-column-left{
  width:460px;
}

.inner-column-right *:first-child,
.inner-column-left *:first-child{
  margin-top: 0;
}
.inner-column-right *:last-child,
.inner-column-left *:last-child{
  margin-bottom: 0;
}
.inner-columns>h3:first-child{
  width: 460px;
  margin-top:0;
  margin-right:460px;
  margin-right:calc(100% - 460px);
}